* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
# بگو به GitHub که PHP مهم‌تره
*.php linguist-detectable=true
*.blade.php linguist-detectable=true

# بگو CSS و JS جزو vendor هستن و حساب نشن
*.css linguist-vendored
*.js linguist-vendored
