* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
# PHP و Blade اصلی حساب بشن
*.php linguist-detectable=true
*.blade.php linguist-detectable=true

# فایل‌های build شده یا third-party جزو vendor حساب شن
/public/*.css linguist-vendored
/node_modules/* linguist-vendored


